body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    top: -2rem;
}

h1 {
    position: relative;
    padding-top: 1rem;
}

div#display {
    display: flex;
}

div#container {
    display: grid;
    margin: auto; 
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

div#container div {
    margin: auto;
    height: 0.1rem;
    width: 0.1rem;
    padding: 2rem;
    background-color: #ccc;
    font-size: 20px;
    font-weight: bold;
}

div#keyboard {
    display: grid;
    margin: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

div#keyboard-section1 {
    display: grid;
    margin: auto; 
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

div#keyboard-section1 div {
    height: 0.5rem;
    width: 0.005rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #ccc;
}

div#keyboard-section2 {
    display: grid;
    margin: auto; 
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
}

div#keyboard-section2 div {
    height: 0.5rem;
    width: 0.005rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #ccc;
}

div#keyboard-section3 {
    display: grid;
    margin: auto; 
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

div#keyboard-section3 div {
    height: 0.5rem;
    width: 0.005rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #ccc;
}


.congratulations {
    display: block;
    position: absolute;
    justify-content: center;
    text-align: center;
    background-color: #7e2be9;
    width: 80vh;
    height: 60vh;

    opacity: 0;
    transition: opacity 2s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.congratulations.show {
    opacity: 1;
}

.congratulations-center {
    position: absolute;
    top: 0;
}

.congratulations-center .trophy {
    position: relative;
    left: 7rem;
}

.congratulations-bottom {
    position: absolute;
    bottom: 3rem;
}

.congratulations-bottom button {
    position: relative;
    border-radius: 8px;
    border: 0;
    background-color: #81d416;
    padding: 0.8rem;
    top: .8rem;
}

.congratulations-bottom h2 {
    position: relative;
    top: 1rem;
}


.gameover {
    display: block;
    position: absolute;
    justify-content: center;
    text-align: center;
    background-color: #ED2939;
    width: 80vh;
    height: 60vh;

    opacity: 0;
    transition: opacity 2s ease-in-out;
    transition-duration: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameover.show {
    opacity: 1;
}

.gameover-center {
    position: absolute;
    top: 0;
}

.gameover-center .emoji {
    position: relative;
    left: 7rem;
}

.gameover-bottom {
    position: absolute;
    bottom: 3rem;
}

.gameover-bottom button {
    position: relative;
    border-radius: 8px;
    border: 0;
    background-color: #12D6C6;
    padding: 0.8rem;
    top: .8rem;
}

.gameover-bottom h2 {
    position: relative;
    top: 1rem;
}